$mobile-width: 320px;
$tablet-width: 770px;
$desktop-width: 1920px;
$max-tablet-width: 1200px;
$max-mobile-width:  769px;

$ff-placeholder: "roboto condensed", "roboto", sans-serif;
$ff-alternative: "pt mono", sans-serif;
$fz-default: 14px;
$color-default-black: #000000;
$color-default-white: #ffffff;
$color-white: #f2f5f6;
$color-alice-blue: #f8fdff;
$color-dark-blue: #041827;
$color-light-blue: #00b2ff;
$color-whisper: #ebebeb;
$color-tory-blue: #5683ab;
